.Popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.Popup > .window {
  position: absolute;
  width: 771px;
  height: 345px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
  font-size: 60px;
}

.Popup > .window .buttons {
  position: relative;
  display: flex;
  top: 200px;
  left: 0px;
  justify-content: center;
}

.Popup > .window .button1 {
  position: relative;
  width: 201px;
  height: 74px;
}

.Popup > .window .button2 {
  position: relative;
  width: 201px;
  height: 74px;
}

.Popup > .window .space {
  flex-basis: 100px;
  background-color: none;
  border: none;
}